<form>
  <div class="form-group">
    <label for="nombre">Nombre</label>
    <input type="text" class="form-control" id="nombre" placeholder="Nombre">
  </div>
  
  <div class="form-group">
    <label for="apellido">Apellido</label>
    <input type="text" class="form-control" id="apellido" placeholder="Apellido">
  </div>

  <div class="form-group">
    <label for="correo">Correo</label>
    <input type="text" class="form-control" id="correo" placeholder="Correo">
  </div>

  <div class="form-group">
    <label for="nrocta">Nro. Cta.</label>
    <input type="text" class="form-control" id="nrocta" placeholder="nrocta">
  </div>

  <div class="form-group">
    <label for="moneda">Moneda</label>
    <select name="" id="moneda">
      <option value="0">Seleccione... </option>
    </select>
  </div>

  <div class="form-group">
    <label for="monto">Monto</label>
    <input type="Number" class="form-control" id="monto" placeholder="monto">
  </div>

  <button type="submit" class="btn btn-default">Crear</button>
</form>